<div class="grid calendar">
    <div class="col-2-5" *ngFor="let day of days">
        <app-day [day]="day" [disable]="checkDateOutsideRange(day)"></app-day>
    </div>
</div>
<div *ngIf="isLoading">
    <p-progressSpinner *ngIf="isLoading" class="center"></p-progressSpinner>
</div>
<div class="grid">
    <div class="col">
        <div [hidden]="!showPrevious">
            <p-button icon="pi pi-arrow-left" class="p-button-rounded left" (click)="previous()"></p-button>
        </div>
    </div>
    <div class="col">
        <p-button icon="pi pi-refresh" class="p-button-rounded center" (click)="refresh()"></p-button>
    </div>
    <div class="col">
        <div [hidden]="!showNext">
            <p-button icon="pi pi-arrow-right" class="p-button-rounded right" (click)="next()"></p-button>
        </div>
    </div>
</div>
